<!DOCTYPE html>
{% load render_table from django_tables2 %}
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Annuaire des héros</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'hivernants/style.css' %}">
  </head>
  <body>
  <h1>Liste des hivernants, hivernants à titre honorifique et conjoints</h1>
  <br />
        {% render_table table %}
{#  {% if persons %}#}
{#    <ul>#}
{#    {%  for person in persons %}#}
{#      <li><a href="{% url 'map:detail' person.id %}">{{ person.names }}</a></li>#}
{#    {% endfor %}#}
{#    </ul>#}
{#  {% endif %}#}
        <a href="{% url 'admin:hivernants_hivernant_add' %}" class="btn btn-primary">Ajouter un hivernant</a>
  </body>
</html>